{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    {% if object %}
        {% trans "Edit add-on" %}
    {% else %}
        {% trans "Create add-on" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {% trans "Edit add-on" %}
        {% else %}
            {% trans "Create add-on" %}
        {% endif %}
    </h1>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
            <a href="{% url "plugins:eventyay_business:addons.list" %}" class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>

    <datalist id="tier-common-currencies">
        <option value="USD">USD - US Dollar</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British Pound</option>
        <option value="SGD">SGD - Singapore Dollar</option>
        <option value="INR">INR - Indian Rupee</option>
        <option value="AUD">AUD - Australian Dollar</option>
        <option value="CAD">CAD - Canadian Dollar</option>
        <option value="JPY">JPY - Japanese Yen</option>
        <option value="CHF">CHF - Swiss Franc</option>
    </datalist>

    {{ capabilities_data|json_script:"capabilities-data" }}
    <script type="module" src="{% static "eventyay_business/tier_form.js" %}"></script>
{% endblock %}
